.nav {
  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 33px;
  }

  &__link {
    color: #000000;
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
    &:hover {
      color: #ff6464;
    }
  }
}
