@import "./header";
@import "./nav";
@import "./author";
@import "./posts";
@import "./projects";
@import "./footer";

* {
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  overflow-x: hidden;
  color: #21243d;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
